@import url(_normalize.css);
.keyboard {
  position: relative;
  width: 100%; }

.key {
  position: absolute;
  height: 160px;
  width: 1.92308%;
  border: 1px solid black; }
  .key.key--active {
    background: #f00; }

.key--black {
  height: 100px;
  background: black;
  width: 0.96154%;
  transform: translateX(-50%);
  z-index: 1; }

.whiteindex-0 {
  left: 0%; }

.whiteindex-1 {
  left: 1.92308%; }

.whiteindex-2 {
  left: 3.84615%; }

.whiteindex-3 {
  left: 5.76923%; }

.whiteindex-4 {
  left: 7.69231%; }

.whiteindex-5 {
  left: 9.61538%; }

.whiteindex-6 {
  left: 11.53846%; }

.whiteindex-7 {
  left: 13.46154%; }

.whiteindex-8 {
  left: 15.38462%; }

.whiteindex-9 {
  left: 17.30769%; }

.whiteindex-10 {
  left: 19.23077%; }

.whiteindex-11 {
  left: 21.15385%; }

.whiteindex-12 {
  left: 23.07692%; }

.whiteindex-13 {
  left: 25%; }

.whiteindex-14 {
  left: 26.92308%; }

.whiteindex-15 {
  left: 28.84615%; }

.whiteindex-16 {
  left: 30.76923%; }

.whiteindex-17 {
  left: 32.69231%; }

.whiteindex-18 {
  left: 34.61538%; }

.whiteindex-19 {
  left: 36.53846%; }

.whiteindex-20 {
  left: 38.46154%; }

.whiteindex-21 {
  left: 40.38462%; }

.whiteindex-22 {
  left: 42.30769%; }

.whiteindex-23 {
  left: 44.23077%; }

.whiteindex-24 {
  left: 46.15385%; }

.whiteindex-25 {
  left: 48.07692%; }

.whiteindex-26 {
  left: 50%; }

.whiteindex-27 {
  left: 51.92308%; }

.whiteindex-28 {
  left: 53.84615%; }

.whiteindex-29 {
  left: 55.76923%; }

.whiteindex-30 {
  left: 57.69231%; }

.whiteindex-31 {
  left: 59.61538%; }

.whiteindex-32 {
  left: 61.53846%; }

.whiteindex-33 {
  left: 63.46154%; }

.whiteindex-34 {
  left: 65.38462%; }

.whiteindex-35 {
  left: 67.30769%; }

.whiteindex-36 {
  left: 69.23077%; }

.whiteindex-37 {
  left: 71.15385%; }

.whiteindex-38 {
  left: 73.07692%; }

.whiteindex-39 {
  left: 75%; }

.whiteindex-40 {
  left: 76.92308%; }

.whiteindex-41 {
  left: 78.84615%; }

.whiteindex-42 {
  left: 80.76923%; }

.whiteindex-43 {
  left: 82.69231%; }

.whiteindex-44 {
  left: 84.61538%; }

.whiteindex-45 {
  left: 86.53846%; }

.whiteindex-46 {
  left: 88.46154%; }

.whiteindex-47 {
  left: 90.38462%; }

.whiteindex-48 {
  left: 92.30769%; }

.whiteindex-49 {
  left: 94.23077%; }

.whiteindex-50 {
  left: 96.15385%; }

.whiteindex-51 {
  left: 98.07692%; }

.whiteindex-52 {
  left: 100%; }
